.home {
}

.home-card {
  max-width: 500px;
  height: max-content;
}

.card-image {
  margin: 25px auto !important;
}

.card-content {
  text-align: start;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
